{% extends 'base.html' %}
{% block content %}

    <h2> Eliminar registro </h2>

    <form action="" method="POST">
        {% csrf_token %}
        <br><br>
        <p style="text-align:center">Está seguro que desea eliminar "{{laboratorio.nombre}}, ID: {{laboratorio.id}}"?</p>
        <p style="text-align:center"><a href="{% url 'mostrar-lab' %}"><button type="button" class="btn btn-outline-primary">Volver atrás</button>
        </a></p>
        <p style="text-align:center"><input class="btn btn-outline-danger" type="submit" value="Confirmar"></p>
    </form>

{% endblock %}