{% extends 'base.html' %}
{% block content %}

    <h2> Registro de laboratorios </h2>
  
    <div class="contTable w-75 mx-auto">
        <table class="table table-hover table-bordered border-primary thead">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ciudad</th>
                <th scope="col">País</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
        </table>
        <div class="tbodyCont">
            <table class="table table-hover table-bordered border-primary mx-auto scrollTable">
                <tbody>
                    {% for laboratorio in laboratorios %}
                    <tr>
                        <td>{{laboratorio.id}}</td>
                        <td>{{laboratorio.nombre}}</td>
                        <td>{{laboratorio.ciudad}}</td>
                        <td>{{laboratorio.pais}}</td>
                        <td>
                            <a href="/laboratorio/editar/{{laboratorio.pk}}">Actualizar</a>
                        </td>
                        <td>
                            <a href="/laboratorio/eliminar/{{laboratorio.pk}}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

    <p class="p1">¿Quiere ingresar un nuevo laboratorio?</p>
    <a href="{% url 'insertar-lab' %}"><button type="button" class="btn btn-outline-primary">Crear nuevo registro</button></a>
    
    <br>
    <p class="contador">Usted ha visitado esta página {{ num_visits }} veces.</p>

{% endblock %}