{% extends 'base.html' %}
{% block content %}

    <h2 style="text-align:center"> Información de Laboratorios </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>País</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>
            {% for laboratorio in laboratorios %}
            <tr>
                <td>{{laboratorio.id}}</td>
                <td>{{laboratorio.nombre}}</td>
                <td>{{laboratorio.ciudad}}</td>
                <td>{{laboratorio.pais}}</td>
                <td>
                    <a href="/laboratorio/editar/{{laboratorio.pk}}">Actualizar</a>
                </td>
                <td>
                    <a href="/laboratorio/eliminar/{{laboratorio.pk}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>

    <p>¿Quiere crear un nuevo laboratorio?</p>
    <p><a href="{% url 'insertar-lab' %}">Crear nuevo laboratorio</a></p>
    
    <br>
    <p>Usted ha visitado esta página {{ num_visits }} veces.</p>

{% endblock %}